{% extends 'base.html' %}

{% block content %}
<h2>Editar producto</h2>
<form method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ producto.nombre }}" required>
    
    <label>Precio:</label>
    <input type="number" name="precio" value="{{ producto.precio }}" step="0.01" required>
    
    <label>Categoría:</label>
    <input type="text" name="categoria" value="{{ producto.categoria }}" required>
    
    <button type="submit" class="btn">Actualizar</button>
</form>
{% endblock %}
